.heading {
  font-family: "Poppins", sans-serif;
  color: #312a2a;
}
.heading-primary {
  font-size: 4rem;
  font-weight: 400;
}
.heading-secondary {
  font-size: 2rem;
  font-weight: 400;
}

.btn {
  font: inherit;
  font-size: 1.4rem;
  padding: 0.7em 1em;
  border-radius: 0.4em;
  border: none;
  background: none;
  transition: all 0.2s;
}
.btn:hover, .btn:active, .btn:focus {
  outline: none;
  cursor: pointer;
}
.btn-primary {
  background: #07b2fa;
  color: #fff;
}
.btn-primary:hover {
  background: #14a8e7;
}
.btn-white {
  background: #fff;
  color: #07b2fa;
}
.btn-white:hover {
  color: #0076a7;
}
.btn-text-white {
  color: #fff;
}
.btn-md {
  padding: 0.3em 0.7em;
  border-radius: 0.3em;
}

.navbar {
  height: 10vh;
  grid-column: 1/-1;
  grid-row: 1;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 7rem;
}
.navbar__logo {
  align-self: center;
}
.navbar__links {
  display: flex;
  align-items: center;
  width: 35%;
}
.navbar__link {
  flex: 1;
  min-width: max-content;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
  border-radius: 1.3rem;
  color: #948d8d;
}
.navbar__link__icon {
  font-size: 4rem;
  margin-bottom: 0.2rem;
}
.navbar__link__label {
  font-size: 1.5rem;
  letter-spacing: 0.2px;
  font-weight: 300;
}
.navbar__link:not(:last-child) {
  margin-right: 5rem;
}
.navbar__link:hover {
  cursor: pointer;
  background: #f2f2f2;
}
.navbar__link:hover > * {
  color: #07b2fa;
}
.navbar__link--active {
  background: #ecf3f6;
}
.navbar__link--active:hover {
  background: #ecf3f6 !important;
}
.navbar__link--active > * {
  color: #07b2fa;
}

.textmsg {
  font-size: 1.15em;
  width: max-content;
  max-width: 60ch;
  background-color: #fff;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.textmsg__content {
  padding: 0.65rem 1.2rem;
  padding-bottom: 0;
  font-size: 1.11em;
  font-weight: 400;
}
.textmsg__time {
  width: max-content;
  align-self: flex-end;
  color: #948d8d;
  font-size: 0.9em;
  margin: 5px 1.5rem 5px 0;
}
.textmsg--incoming {
  background: #fff;
  color: #312a2a;
  border-top-left-radius: 0.2rem;
}
.textmsg--incoming .textmsg__time {
  margin: 3px 1.5rem 3px 1.5rem;
}
.textmsg--outgoing {
  margin-left: auto;
  background: #07b2fa;
  color: #fff;
  border-bottom-right-radius: 0.2rem;
}
.textmsg--outgoing .textmsg__time {
  color: rgba(255, 255, 255, 0.9);
  margin-left: 1.5rem;
}
.textmsg--not-sent {
  background: #95defd;
}
.textmsg--not-sent .textmsg__err-msg {
  position: absolute;
  right: 0;
  bottom: -1.5rem;
  color: #000;
  color: #ff0000;
}

.textfield {
  outline: none;
  letter-spacing: 0.2px;
}
.textfield--message {
  background-color: #fff;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem 3rem;
  color: #312a2a;
}

.videocall-modal {
  height: 92%;
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 2rem;
  box-shadow: 0 0 2rem 50vh rgba(0, 0, 0, 0.4);
  padding: 1.7rem;
  padding-left: 6rem;
  display: flex;
  justify-content: center;
  gap: 1.7rem;
  transition: width height 0.5s;
  z-index: 41;
}
.videocall-modal--fullscreen {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.videocall__tab-nav {
  position: absolute;
  top: 1.8rem;
  right: 3.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.8rem;
  opacity: 0.5;
  cursor: pointer;
}
.videocall__chats-and-attendees {
  flex: 1 1 35%;
  height: 100%;
  border-radius: 1.5rem;
  background: #ecf3f6;
  padding: 1.5rem 2.5rem;
  position: relative;
}
.videocall__chats-and-attendees .heading {
  color: #312a2a;
  margin-bottom: 2rem;
}
.videocall__chats-and-attendees-nav {
  position: absolute;
  left: -0.4em;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  border: none;
  border-left: 2px solid #ecf3f6;
  border-top: 2px solid #ecf3f6;
  border-bottom: 2px solid #ecf3f6;
  border-radius: 1.5rem;
  padding: 1.5em 0;
  font-size: 1.75rem;
  color: #948d8d;
}
.videocall__chats-and-attendees-nav > * {
  position: relative;
  right: 100%;
  padding: 0.5em;
  cursor: pointer;
  border-right: 2px solid #ecf3f6;
}
.videocall__chats-and-attendees-nav > *:hover {
  color: #07b2fa;
  background: #f6f6f6;
}
.videocall__chats-and-attendees-nav > *.chats::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 50%;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background: #ff0000;
  font-size: 1em;
}
.videocall__chats-and-attendees-nav > *.attendees {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.videocall__chats-and-attendees-nav > *.attendees .total {
  font-size: 0.6em;
}
.videocall__chats-and-attendees-nav > *.attendees i {
  font-size: 1em;
}
.videocall__chats-and-attendees-nav .nav-item--active {
  color: #07b2fa;
  border-right: 2px solid #07b2fa;
}
.videocall__chats {
  height: 80%;
  padding: 2rem 1rem;
  overflow-y: scroll;
}
.videocall__chats::-webkit-scrollbar {
  width: 0.7rem;
  display: none;
}
.videocall__chats:hover::-webkit-scrollbar-thumb {
  background: #948d8d;
  border-radius: 99rem;
  display: inline-block;
}
.videocall__chats .newmsg {
  position: absolute;
  margin: 0 auto;
  bottom: 1rem;
  right: 1em;
  left: 1em;
  right: 1em;
  bottom: 1em;
}
.videocall__chats .newmsg .input {
  background: #fff;
  outline: none;
  border: none;
  padding: 1.4rem 1.7rem;
  width: 100%;
  font: inherit;
  font-size: 1.35rem;
  border-radius: 1rem;
  border: 1px solid transparent;
}
.videocall__chats .newmsg .input:focus {
  border: 1px solid #e8e8e8;
}
.videocall__chats .newmsg .send {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-3px, -50%);
}
.videocall__attendees {
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.videocall__attendees > * {
  padding: 0.7em 0;
}
.videocall__attendees > *:not(:last-child) {
  border-bottom: 1px solid #cde7f2;
}
.videocall__attendees::-webkit-scrollbar {
  width: 0.7rem;
}
.videocall__attendees:hover::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 99rem;
  margin: 5rem;
}
.videocall__attendee {
  display: flex;
  justify-content: space-between;
}
.videocall__attendee__details {
  display: flex;
  align-items: center;
}
.videocall__attendee .host-actions {
  min-height: 100%;
  max-height: 100%;
  display: none;
}
.videocall__attendee .host-actions .btn {
  height: 100%;
  padding: none !important;
}
.videocall__attendee__pic {
  margin-right: 1.2em;
}
.videocall__attendee__name {
  font-size: 1.5em;
  margin-right: auto;
}
.videocall__attendee__status-in-call {
  display: flex;
  align-items: center;
}
.videocall__attendee__status-in-call > * {
  font-size: 1.7em;
  position: relative;
}
.videocall__attendee__status-in-call > *:not(:last-child) {
  margin-right: 1.2em;
}
.videocall__attendee:hover .host-actions {
  display: block;
}
.videocall__participant {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}
.videocall__participant__video {
  object-fit: cover;
  background: #313131;
  width: 100%;
  height: 100%;
}
.videocall__participant__name {
  font-size: 1.3rem;
  letter-spacing: 0.2px;
  font-weight: bold;
  width: max-content;
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
  color: #fff;
  text-shadow: 0 0 5px #000;
}
.videocall__call {
  flex: 1 1 60%;
  display: grid;
  grid-gap: 4rem;
  grid-template-rows: 1fr max-content;
}
.videocall__call__allparticipants {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: 15rem;
  gap: 1px;
  overflow-y: scroll;
  border-radius: 1rem;
  background: #948d8d;
  position: relative;
}
.videocall__call__allparticipants::-webkit-scrollbar {
  display: none;
}
.videocall__call--peer-to-peer .videocall__participant--peer {
  width: 100%;
  height: 100%;
  position: relative;
}
.videocall__call--peer-to-peer .videocall__participant--user {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 8rem;
  height: 8rem;
  z-index: 3;
}
.videocall__call--peer-to-peer .videocall__participant--user video {
  background: gray;
  border-radius: 0.5em;
}
.videocall__call__footer {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  color: #948d8d;
  padding: 0 5px;
}
.videocall__call__controls {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}
.videocall__callcontrol {
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
}
.videocall__callcontrol[data-label="Add new participant"] {
  color: #32ca32;
}
.videocall__callcontrol[data-label="Add new participant"]:hover {
  color: #07b2fa;
}
.videocall__callcontrol:nth-of-type(2) {
  margin-left: auto;
}
.videocall__callcontrol:nth-of-type(4) {
  margin-right: auto;
}
.videocall__callcontrol::after {
  content: attr(data-label);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background: #fff;
  color: #312a2a;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  visibility: hidden;
  transition: transform 0.2s;
}
.videocall__callcontrol:hover::after {
  visibility: visible;
  transform: translateX(-50%) translateY(-2rem);
  opacity: 1;
  z-index: 10;
}
.videocall__call__more-actions {
  position: relative;
}
.videocall__call__more-actions *[class*=ellipsis] {
  cursor: pointer;
  position: relative;
  z-index: 41;
}
.videocall__call__more-actions .videocall__call__options {
  font-size: 0.7em;
  position: absolute;
  bottom: 100%;
  right: 100%;
  background: #fff;
  z-index: 41;
  box-shadow: 0 0 0.5rem 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 5px 0;
  display: none;
  transform: scale(0.5, 0.5);
  transition: transform 1s;
}
.videocall__call__more-actions .videocall__call__option {
  display: flex;
  width: 100%;
  min-width: max-content;
  padding: 0.6em 1.5em;
  cursor: pointer;
}
.videocall__call__more-actions .videocall__call__option:hover {
  background: #e8e8e8;
}
.videocall__call__more-actions .videocall__call__option > *:not(:last-child) {
  margin-right: 1em;
}
.videocall__call__more-actions input[type=checkbox] {
  display: none;
}
.videocall__call__more-actions input[type=checkbox]:checked + label .videocall__call__options {
  display: block;
  transform: scale(1, 1);
}

.is-muted {
  color: #ff0000;
  position: relative;
}
.is-muted::before {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  width: 2px;
  height: 100%;
  background: #ff0000;
  transform: rotate(45deg) translateX(50%) scaleY(1.5);
}

.icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2.5rem;
  cursor: pointer;
  display: grid;
  place-items: center;
}
.icon--md {
  font-size: 1.7rem;
  width: 3.7rem;
  height: 3.7rem;
}
.icon--sm {
  font-size: 1.7rem;
  width: 3rem;
  height: 3rem;
}
.icon, .icon > * {
  backface-visibility: hidden;
  transition: all 0.2s;
}
.icon--bg {
  position: relative;
}
.icon--bg-white {
  background: #fff;
  color: #07b2fa;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
}
.icon--bg-white:hover {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.45);
}
.icon--bg-blue {
  background: #07b2fa;
  color: #fff;
}
.icon--bg-blue:hover {
  color: #cde7f2;
}

.videocall-msg {
  font-size: 1.2rem;
  padding: 0.5em 1em;
  width: max-content;
  max-width: 40ch;
  border-radius: 0.7rem;
  position: relative;
}
.videocall-msg__content {
  font-size: 1em;
  line-height: 1.3em;
}
.videocall-msg__time {
  margin-left: auto;
  color: #948d8d;
}
.videocall-msg__sender-name {
  position: absolute;
  top: -1.2em;
  left: 1.2em;
  width: max-content;
  color: #1fadea;
}
.videocall-msg__sender-photo {
  position: absolute;
  right: 100%;
  bottom: 100%;
  transform: translate(50%, 50%);
}
.videocall-msg:not(:last-child) {
  margin-bottom: 2.5em;
}

.btn {
  font: inherit;
  font-size: 1.4rem;
  padding: 0.7em 1em;
  border-radius: 0.4em;
  border: none;
  background: none;
  transition: all 0.2s;
}
.btn:hover, .btn:active, .btn:focus {
  outline: none;
  cursor: pointer;
}
.btn-primary {
  background: #07b2fa;
  color: #fff;
}
.btn-primary:hover {
  background: #14a8e7;
}
.btn-white {
  background: #fff;
  color: #07b2fa;
}
.btn-white:hover {
  color: #0076a7;
}
.btn-text-white {
  color: #fff;
}
.btn-md {
  padding: 0.3em 0.7em;
  border-radius: 0.3em;
}

.add-attendee-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 1.7rem;
  min-width: 50%;
  height: 70%;
  background: #07b2fa;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3), 0 0 3rem 100vh rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 2rem 4rem;
  z-index: 45;
}
.add-attendee-modal__header {
  font-size: 2.5rem !important;
  font-family: "Poppins", sans-serif;
  margin-bottom: 3rem;
}
.add-attendee-modal .user-chatlist {
  flex: 1;
  overflow-y: scroll;
}
.add-attendee-modal .user-chatlist .each-row {
  position: relative;
}
.add-attendee-modal .user-chatlist .each-row > input[type=checkbox] {
  position: absolute;
  right: 2rem;
  top: 50%;
  border: 1px solid white;
  transform: translateY(-50%);
}
.add-attendee-modal .user-chatlist .each-row > input[type=checkbox]:checked + label > .chat {
  background: #95defd;
}
.add-attendee-modal .user-chatlist .chat {
  display: flex;
  align-items: center;
  padding: 0.5rem 5px;
  cursor: pointer;
  border-radius: 1rem;
}
.add-attendee-modal .user-chatlist .chat__photo {
  margin-right: 2rem;
}
.add-attendee-modal .user-chatlist .chat__name {
  font-size: 1.5rem;
}
.add-attendee-modal .user-chatlist .chat:hover {
  background: #47c0f3;
}
.add-attendee-modal .user-chatlist > *:not(:last-child) {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #47c0f3;
}
.add-attendee-modal .user-chatlist::-webkit-scrollbar {
  width: 0.7rem;
}
.add-attendee-modal .user-chatlist:hover::-webkit-scrollbar-thumb {
  background: #1fadea;
  border-radius: 99rem;
}
.add-attendee-modal__footer {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.add-attendee-modal__close {
  font-size: 2.7rem;
  position: absolute;
  right: 2rem;
  cursor: pointer;
  color: #6b6464;
}
.add-attendee-modal__close:hover {
  color: #000;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 40;
  transition: all 1s;
}
.overlay--higher {
  z-index: 50;
}
.overlay--hidden {
  display: none;
}

.pic {
  border-radius: 50% !important;
}
.pic--lg {
  width: 25rem !important;
  height: 25rem !important;
}
.pic--sm {
  width: 5rem !important;
  height: 5rem !important;
}
.pic--xsm {
  width: 3rem !important;
  height: 3rem !important;
}

.remove-bullets {
  list-style: none !important;
}

.u-mg-bottom-md {
  margin-bottom: 1.5rem;
}

.text-center {
  text-align: center !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  max-height: 100vh;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  background-color: #e8e8e8;
}

#root {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 10vh 90vh;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(700deg);
  }
}

/*# sourceMappingURL=styles.css.map */
